@media (max-width: 1200px) {
  .intro_title {
    font-size: 120px;
  }
  .intro_suptitle {
    font-size: 65px;
  }
}
@media (max_width: 990px) {
  .intro_title {
    font-size: 80px;
  }
  .intro_suptitle {
    font-size: 45px;
  }
}
@media (max_width: 770px) {
  .intro_title {
    font-size: 60px;
  }
  .intro_suptitle {
    font-size: 35px;
  }
}
@media (max_width: 575px) {
  .intro_title {
    font-size: 45px;
  }
  .intro_suptitle {
    font-size: 25px;
  }
}
