body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*::after *::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* container */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/**************** section with big photo INTRO *******************************************/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/intro.jpg");
  background-size: cover;
}
.intro_inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.intro_title {
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;

  color: #fff;
  line-height: 1;
}
/* line creation after title */
.intro_title::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 60px;
  height: 3px;
  margin: 60px auto;
}
.intro_suptitle {
  font-size: 72px;
  color: #fff;
  font-family: "Kaushan Script", cursive;

  margin-bottom: 20px;
}
/* Header *******/
.header {
  width: 100%;
  position: absolute;
  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* nav ************/
.nav {
  text-transform: uppercase;
  font-size: 14px;
}
.nav_link {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  transition: color 0.2s linear;
  margin: 0 10px;
  position: relative;
}

.nav_link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fce38a;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}
.nav_link:hover {
  color: #fce38a;
}
.nav_link:hover::after {
  display: block;
}

/* button ***** */
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.1s linear, color 0.1s linear;
  margin-bottom: 40px;
}
.btn:hover {
  background-color: #fff;
  color: #333;
}
/* slider */
.slider {
  display: flex;
  justify-content: space-between;
}
.slider_item {
  width: 22%;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 0;
  border-top: 1px solid #fff;
  opacity: 0.7;
}
.slider_number {
  font-size: 24px;
  font-weight: bold;
}

/*  section ABOUT US **************************************** */

.section {
  padding: 80px 0;
  margin-bottom: 40px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
}

.section_suptitle {
  font-size: 24px;
  color: #333;
  font-family: "Kaushan Script", cursive;
}
.section_title {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line creation after title */
.section_title::after {
  content: "";
  display: block;
  width: 60px;
  background-color: #f38181;
  height: 3px;
  margin: 50px auto;
}
.section_text {
  font-size: 15px;
  color: #999999;
  margin-bottom: 30px;
}
/* photos for the section about */
.about {
  display: flex;
  justify-content: space-between;
}

.about_item {
  width: 100px;
  /* dosn't work */
  background: linear-gradient(to bottom, #7d8539);
}
.about_item:hover {
  opacity: 0.3;
  transition: 0.1s linear;
  transform: translate(-10px, -10px);
}

/* *******block with statistics********************* */

.statistics {
  background-color: #95e1d3;
}
.stats {
  display: flex;
}
.stat_item {
  flex: 1 1 0;
  border-left: 1px solid #fff;
  text-align: center;
  color: #fff;
  padding: 70px 25px;
}
.stat_item:last-child {
  border-right: 1px solid #fff;
}
.stat_number {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
}
.stat_text {
  text-transform: uppercase;
}

/* *** section Amazing services*************** */

.services {
  display: flex;
}
.services_item {
  flex: 1 1 0;
  padding-left: 60px;
  padding-right: 20px;
  position: relative;
  width: 350px;
}
.services_icon {
  position: absolute;
  top: 0;
  left: 20px;
}
.services_title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}
.services_text {
  font-size: 15px;
  color: #999;
}

hr {
  background-color: #fff;
  display: block;
  width: 100%;
  margin: 40px 0;
}

/* **************section Unique Design******* */

.section--ipad {
  background: url("../images/fond.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: 40px;
}
.ipad {
  /* dosn't work */
  border-radius: 40%;
}

/* **********section WHAT WE DO ************** */

.wedo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.accardion_img {
  width: 350px;
}
.wedo_item {
}
.accardion_item {
  border: 1px solid #e5e5e5;
}
.accardion_header {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}
/* creation du flech ne marche pas , a refaire */
/* .accardion_header::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%) rotate(-45deg);
} */
.accard_icon {
  margin: 10px 20px;
}
.accardion_content {
  padding: 15px;
  font-size: 15px;
  columns: #999;
  font-style: italic;
  font-weight: 300;
  text-align: left;
}

.accardion_title {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

/* ***** block of opinion**** */

.section--gray {
  background-color: #f8f8f8;
}

.opinion {
  padding: 0 110px;
}
.opinion_item {
  padding-left: 200px;
  position: relative;
}
.opinion_icon {
  position: absolute;
  top: 0;
  left: 0;
}
.opinion_text {
  color: #999999;
  font-style: italic;
  font-size: 24px;
  text-align: left;
  margin-bottom: 15px;
}
.opinion_author {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}
.opinion_author::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 2px;
  background-color: #f38181;
  margin-right: 20px;
}

/* ***********section MEET OUR TEAM*** */
.card_text {
  width: 250px;
}

/* *** section block with brend's photos */

.logos {
  width: 950px;
}
.logo_img {
  max-width: 950px;
  width: 100%;
}

/* ** section Some of Our Works*** */

.works {
  display: flex;
}
.works_column {
  flex: 1 1 0;
}
.works_img:hover {
  opacity: 0.5;
  transition: 0.1s linear;
  transform: translate(-10px, -10px);
}

/* **** opinion block */
.opIcon {
  border-radius: 50%;
}
.opText {
  margin-left: 20px;
}

/* *** section Happy Clients**** */
.section--clients {
  background: url();
}
.clients {
  display: flex;
  flex-wrap: wrap;
}
.clients_item {
  width: 50%;
  padding: 0 45px 0 75px;
  position: relative;
}
.clients_photo {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.clients_content {
  margin-left: 60px;
}
.clients_text {
  text-align: left;
}
